[submodule "ext/my-msbuild"]
	path = ext/my-msbuild
	url = https://github.com/lithiumtoast/my-msbuild.git
[submodule "ext/flecs"]
	path = ext/flecs
	url = https://github.com/SanderMertens/flecs.git
[submodule "ext/sokol"]
	path = ext/sokol
	url = https://github.com/floooh/sokol
[submodule "ext/libuv"]
	path = ext/libuv
	url = https://github.com/libuv/libuv.git
