# JetBrains
.idea/

# VisualStudio
.vs/

# User-specific files
*.user

# CMake
cmake-build*/

# C# build artifacts
bin/
obj/
nupkg/
publish/

# C build artifacts
lib/
*.dll
*.dylib
*.so

# c2ffi artifacts
src/cs/examples/**/ffi/
src/cs/examples/**/ffi-x/
src/c/tests/**/ffi/
src/c/tests/**/ffi-x/

# c2cs artifacts
src/c/tests/**/cs

# macOS
.DS_Store

# Exlude verify files
*.received.*
*.received/