<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget" value="https://api.nuget.org/v3/index.json" />
        <add key="github-lithiumtoast" value="https://nuget.pkg.github.com/lithiumtoast/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github-lithiumtoast>
            <add key="Username" value="lithiumtoast-mu" />
            <add key="ClearTextPassword" value="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" />
        </github-lithiumtoast>
    </packageSourceCredentials>
</configuration>