name: "main"

on:
  push:
    paths-ignore:
      - '**.md'

jobs:
  dotnet-job:
    name: ".NET"
    runs-on: ${{ matrix.platform.os }}
    strategy:
      fail-fast: false
      matrix:
        platform:
        - { name: Windows x64,           os: windows-latest, shell: bash }
        # Using Ubuntu 18.04 because of GitHub Actions Runner bug: https://github.com/actions/runner/issues/1819#issuecomment-1098641309
        - { name: Linux x64,             os: ubuntu-18.04,   shell: bash }
        - { name: macOS x64,             os: macos-latest,   shell: bash }
    defaults:
      run:
        shell: ${{ matrix.platform.shell }}
    steps:

    - name: "Clone Git repository"
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: "Install Clang: Windows"
      if: matrix.platform.os == 'windows-latest'
      run: |
        source "${{ github.workspace }}\scripts\install-clang-x64-windows.sh"
  
    - name: "Install Clang: Linux"
      if: matrix.platform.os == 'ubuntu-18.04'
      run: |
        sudo apt-get update
        sudo apt-get install gcc-multilib
        source "${{ github.workspace }}/scripts/install-clang-x64-ubuntu_18_04.sh"

    - name: "Install Clang: macOS"
      if: matrix.platform.os == 'macos-latest'
      run: |
        source "${{ github.workspace }}/scripts/install-clang-macos.sh"

    - name: ".NET"
      uses: bottlenoselabs/github-actions-dotnet@v3
      with:
        dotnet-sdk-version: "6.0.x"
        solution-or-project: "${{ github.workspace }}/C2CS.sln"
        is-enabled-upload-myget: "${{ matrix.platform.os == 'ubuntu-18.04' && ( github.event_name == 'push' || startsWith(github.ref, 'refs/tags/v') ) }}"
        is-enabled-upload-nuget: "${{ matrix.platform.os == 'ubuntu-18.04' && startsWith(github.ref, 'refs/tags/v') }}"
        myget-access-token: "${{ secrets.MYGET_ACCESS_TOKEN }}"
        nuget-access-token: "${{ secrets.NUGET_ACCESS_TOKEN }}"

    # - name: "Snipe test files"
    #   uses: actions/upload-artifact@v3
    #   with:
    #     name: "Test Data ${{ matrix.platform.name }}"
    #     path: |
    #       ${{ github.workspace }}/src/cs/tests/*Tests*/**/*.json

